table {
    width: 100%;
  }

  img{
    width: 20%;
    height: 20%;
  }
  .imgTd{
    width: auto;
    height: auto;
  }

  .delete-icon {
    color: rgb(216, 50, 50);
  }

  table .image-cell img {
    margin: 2px;
    height: 50px;
    vertical-align: middle;
    transition: .2s;
}

table .image-cell img:hover {
    transform: scale(3);
}